{% extends 'base.html.twig' %}


{% block title %}Wild Series{% endblock %}


{% block body %}

<h1>Liste des séries</h1>

<a href="{{ path('program_new') }}">Add a new series</a>

<div class="row">
    {% for program in programs %}
    <div class="col card">
        <div class="card-header text-center"><h4>{{program.title}}</h4></div>
        <div class="card-body"><span class="small">{{program.category.name}}</span>
        <hr class="hr">
        {{program.synopsis}}</div>
        <div class="card-footer">
            <a href="{{ path("program_show", { program: program.id }) }}">Voir la fiche</a>
        </div>
    </div>
    {% else %}
    <p>Aucun programme trouvé</p>
    {% endfor %}
</div>

{% endblock %}