{% extends 'base.html.twig' %}


{% block title %}Wild Series{% endblock %}


{% block body %}

<h1>{{actor.name}}</h1>

<img class="align-self-start mr-3" src="{{ vich_uploader_asset(actor) }}" alt="{{ actor.name }} poster">

<div class="row justify-content-center align-items-center">
    {% for program in programs %}
    <div class="col-4 card mx-2 mb-2">
        <div class="card-header text-center"><h4><a href="{{ path("program_show", { slug: program.slug }) }}">{{program.title}}</a></h4></div>
    </div>
    {% else %}
    <p>Aucun programme trouvé</p>
    {% endfor %}

    {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('actor_edit', { 'id': actor.id } ) }}">Éditer</a>
    {% endif %}
</div>

{% endblock %}