<div class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link bg-secondary rounded me-2" href="{{ path('app_index') }}">Home</a>
            <a class="nav-link bg-secondary rounded me-2" href="{{ path('program_index') }}">Programs</a>
            <a class="nav-link bg-secondary rounded me-2" href="{{ path('category_index') }}">Categories</a>
            <a class="nav-link bg-secondary rounded me-2" href="{{ path('app_season_index') }}">Seasons</a>
            <a class="nav-link bg-secondary rounded me-2" href="{{ path('app_episode_index') }}">Episodes</a>
            <a class="nav-link bg-secondary rounded me-2" href="{{ path('actor_index') }}">Actors</a>
        </div>
    </div>
    
{% if app.user %}

    {{ app.user.email }}

    <a class="text-white" href="{{ path('app_logout') }}"> Se déconnecter</a>

{% else %}

    <a class="text-white" href="{{ path('app_login') }}"> Se connecter</a>

{% endif %}
</div>
